* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

/* ===== LOGIN PAGE ===== */
.login-bg {
  height: 100vh;
  background:linear-gradient(to bottom right, rgba(0,0,0,0.4)),
  url("academy.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 350px;
  padding: 35px;
  background: rgb(255, 255, 255,0.4);
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

.login-card h1 {
  color: #0b4f2f;
  margin-bottom: 5px;
}

.subtitle {
  color: #555;
  margin-bottom: 25px;
}

.login-card input,
.login-card select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #bbb;
  color: #f5f7fa;
  background-color: rgba(0,0,0,0.6);
}

.login-card input:focus,
.login-card select:focus{
  background-color: rgba(172, 71, 234, 0.3);
  box-shadow: 0px 0px 20px rgb(0, 255, 72);


}
option{
  color: rgba(0, 0, 0, 1);
  background-color: rgba(127, 234, 225, 0.3);
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: rgb(26, 103, 67);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

.login-card button:hover {
  background: #08703f;
  box-shadow: 0 0 20px rgba(11, 79, 47, 1);
  transform: translateY(-5px);
}

.error {
  color: red;
  margin-top: 10px;
}

.logo{
  width: 100px;
  height: 90px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border-style: solid;
  padding: 3px;
  border-color: rgba(255, 252, 94, 0.7);
  box-shadow: 0 0 40px rgba(255, 252, 94, 1);
}
