

body{
  margin:0;
  font-family:Segoe UI;
  background:#f4f6f9;
}

.dashboard{
  display:flex;
  min-height:100vh;
}

.sidebar{
  width:230px;
  background:linear-gradient(180deg,#0b4f2f,#083d25);
  color:white;
  padding:20px;
}

.sidebar nav a{
  display:block;
  padding:12px;
  margin:8px 0;
  color:white;
  text-decoration:none;
  border-radius:8px;
}
.sidebar nav a.logout {
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.1);
}

.sidebar nav a.active,
.sidebar nav a:hover{
  background:rgba(255,255,255,0.2);
}

.content{
  flex:1;
  padding:30px;
}

select{
  padding:10px;
  margin:15px 0;
  border-radius:6px;
}

table{
  width:100%;
  background:white;
  border-collapse:collapse;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

th{
  background:#0b4f2f;
  color:white;
  padding:12px;
}

td{
  padding:12px;
  text-align:center;
}

tr:nth-child(even){
  background:#f2f2f2;
}

.pass{ color:green; font-weight:bold;}
.fail{ color:red; font-weight:bold;}
